{% extends 'base.html' %}

{% load static %}

{% block headercontent %}

{% include "navigation2.html" %}

<!-- Header -->
    <header id="header" class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>About Company</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->

    {% include "breadcrumbs.html" %}
{% endblock headercontent %}

{% block content %}
    <!-- Terms Content -->
    <div class="ex-basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="text-container">
                        <h3>Why we do what we do?</h3>
                        <p>We want to help startup to compete with bigger companies and helping Enterprises be bigger than themselves.</p>


                    <div class="text-container">
                        <h3>What we do</h3>
                        <p>Manifested in our work with a deep passion for progression and exists to solve challenges for brands we believe in. From planning and implementing digital development strategies to executing full marketing campaigns, we strive for nothing less than excellence in achieving our clients’ goals.</p>
                        <p>Our vision to create a better digital landscape for businesses in Indonesia has guided us well and we serve from small to medium businesses as well as enterprises and large corporations. Our mission, Global Domination! Interested?</p>
                    </div> <!-- end of text-container -->
                </div>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic -->
    <!-- end of terms content -->
{% endblock content %}

{% block footercontent %}
    {% include "breadcrumbs.html" %}
{% endblock footercontent %}