{% extends 'base.html' %}

{% load static %}

{% block headercontent %}

{% include "navigation2.html" %}

<!-- Header -->
    <header id="header" class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Blog Company</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->

    {% include "breadcrumbs.html" %}
{% endblock headercontent %}

{% block content %}
    <!-- Terms Content -->
    <div class="ex-basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <h1>{{ post.title }}</h1>
                    <small>
                        {{ post.created_on.date }} |&nbsp;
                        Categories:&nbsp;
                        {% for category in post.categories.all %}
                            {{ category.name }}
                        &nbsp;
                        {% endfor %}
                    </small>
                    <p>{{ post.content | safe}}</p>
                    <br/>
                    <h3>Leave a comment:</h3>
                    <form action="/blog/{{ post.pk }}/" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.author }}
                        </div>
                        <div class="form-group">
                            {{ form.body }}
                        </div>
                        <!--<button type="submit" class="btn-solid-reg popup-with-move-anim">Submit</button>-->
                        <button type="submit" class="btn btn-solid-reg">Submit</button>
                        <!-- btn btn-primary -->
                    </form>
                    <br/>
                    <h3>Comments:</h3>
                    {% for comment in comments %}
                    <p>
                        On {{comment.created_on.date }}&nbsp;
                        <b>{{ comment.author_comment }}</b> wrote:
                    </p>
                    <p>{{ comment.body }}</p>
                    <hr>
                    {% endfor %}
                </div>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic -->
    <!-- end of terms content -->

{% endblock content %}

{% block footercontent %}
    {% include "breadcrumbs.html" %}
{% endblock footercontent %}